src/cythonbiogeme/__pycache__
tests/__pycache__
build

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/cythonbiogeme/cpp/cythonbiogeme.cpp
src/cythonbiogeme.egg-info/
.DS_Store
src/cythonbiogeme/cpp/bioExprLog.cc.keep
