src/cythonbiogeme/__pycache__
tests/__pycache__
build
.idea/*
.DS_Store
src/cythonbiogeme.egg-info/*
.idea/
*.egg

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/cythonbiogeme/cpp/cythonbiogeme.cpp
.DS_Store
cysetuptools.py.keep
cythonbiogeme-1.0.3a0-cp312-cp312-macosx_10_9_universal2.whl
setup.py.keep
setup.py.new
src/cythonbiogeme/cpp/bioExprLog.cc.keep
src/cythonbiogeme/cpp/bioExprLog.h.keep
src/cythonbiogeme/cpp/bioExprLogLogit.cc.keep
src/cythonbiogeme/cpp/bioExprLogLogitFullChoiceSet.cc.keep
src/cythonbiogeme/cpp/bioExprLogLogitFullChoiceSet.h.keep
.github/workflows/wheels.yml.keep
